<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <title>Layout</title>
</head>
<body>

    <nav>
        <a href="/">Layout</a>
        <a href="/employe/show">Employe</a>
        <a href="/employe/filtre">Employe filtre</a>
        <a href="/employe/etat">Etat</a>
        <a href="/departement/show">Departement</a>
        <a href="/reset_database">Reset database</a>
    </nav>

    <h1>Cliquez pour naviguer</h1>
    
</body>
</html>